.App {
  text-align: center; 
  background-color: black;
  display: block;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-text{
  color: white;
}

body {
  background: black;
  color: white;
}

/* .search-container {
  margin-bottom: 5rem; /* Add space between search box and movie list 
} */

/* 
.movie-list-container {
  height: 100%;
  flex: 1; /* Grow to fill remaining vertical space
  overflow-y: auto; /* Enable vertical scrolling if needed
} */

/* .card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the card takes full height of the movie-card div 
} */
