.card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure the card takes full height of the movie-card div */
  }
  
  .card-title {
    margin-bottom: 0.5rem; /* Ensure the title sticks to the top */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflowing text */
    white-space: nowrap; /* Prevent text from wrapping */
    font-size: 2vw; /* Ensure the title scales with the width of the viewport */
  }
  
  .card-img-top {
    height: 30vh; /* Fixed height for the card image */
    width: 100%; /* Ensures the image fills the container width */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
  }
  
  .card-body {
    flex-grow: 1; /* Make the card body grow to fill the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out elements evenly */
  }
  
  
  .card-text {
    flex-grow: 1; /* Allow the text to grow */
    overflow: hidden; /* Hide overflow content */
    display: -webkit-box; /* Required for webkit browsers */
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical; /* Required for webkit browsers */
    line-clamp: 3; /* Number of lines to show */
    box-orient: vertical; /* Required for legacy support */
    margin-bottom: 1rem; /* Add some space at the bottom */
  }

  /* Media query for smaller screens */
@media (max-width: 768px) {
    .movie-card {
      flex: 0 0 50%; /* Adjust the percentage for smaller screens */
    }
    .card-title{
      font-size: 4vw;
    }
  }